body {
  margin: 0px;
  padding: 0px;
  background-image: url("../assets/chat-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.chat {
  width: 700px;
  height: 500px;
}

#chat-messages {
  width: 500px;
  overflow: auto;
}

#user-list {
  width: 198px;
  overflow: auto;
}

#leave-chat-btn {
  width: 100%;
  top: 24px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#chat-messages::-webkit-scrollbar {
  display: none;
}

.message-animation {
  animation: slide-left 0.4s ease-in-out;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
